services:
  api:
    build: .
    ports:
      - "5001:5001"
    env_file: .env
    environment:
      - NODE_ENV=development
      - REDIS_HOST=redis
    restart: unless-stopped
    depends_on:
      - redis
    command: ["node", "dist/server.js"]
    working_dir: /src

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped

    
# services:
#   api:
#     build: .
#     ports:
#       - "5001:5001"
#     env_file: .env
#     environment:
#       - NODE_ENV=development
#       - REDIS_HOST=redis
#     restart: always
#     depends_on:
#       - redis
#     working_dir: /src

#   redis:
#     image: redis:latest
#     ports:
#       - "6379:6379"
#     restart: unless-stopped





